<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div class="banner"></div>
        <div class="sitebackground">
            <div class="sidebar">
                <img class="circularimage" src={{page.pictureurl}} alt="Home_Background.png" width="100%"></img>
            </div>
            {{ content }}
        </div>
    </body>
</html>